<!-- SVG Icons for Condition States -->
<svg style="display: none;">
    <!-- Top Condition -->
    <symbol id="condition-top" viewBox="0 0 24 24">
        <path d="M12 4l2.45 5.2 5.55.8-4 4.1.95 5.9-4.95-2.7-4.95 2.7.95-5.9-4-4.1 5.55-.8z"/>
    </symbol>

    <!-- Good Condition -->
    <symbol id="condition-good" viewBox="0 0 24 24">
        <path d="M12 2L14.4 9.2H22L16.8 13.8L18.4 21L12 16.4L5.6 21L7.2 13.8L2 9.2H9.6L12 2Z"/>
    </symbol>

    <!-- Normal Condition -->
    <symbol id="condition-normal" viewBox="0 0 24 24">
        <path d="M12 2L14.4 9.2H22L16.8 13.8L18.4 21L12 16.4L5.6 21L7.2 13.8L2 9.2H9.6L12 2Z"/>
    </symbol>

    <!-- Bad Condition -->
    <symbol id="condition-bad" viewBox="0 0 24 24">
        <path d="M12 2L9.6 9.2H2L7.2 13.8L5.6 21L12 16.4L18.4 21L16.8 13.8L22 9.2H14.4L12 2Z"/>
    </symbol>

    <!-- Awful Condition -->
    <symbol id="condition-awful" viewBox="0 0 24 24">
        <path d="M12 2L9.6 9.2H2L7.2 13.8L5.6 21L12 16.4L18.4 21L16.8 13.8L22 9.2H14.4L12 2Z"/>
    </symbol>

    <!-- Injured Condition -->
    <symbol id="condition-injured" viewBox="0 0 24 24">
        <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
    </symbol>
</svg> 